!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Rime Systems
    %script{src: "js/lib.js"}
    %script{src: "js/rime.js"}
    %script{src: "js/routes.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/app.css"}
  %body
    %header
    %main
    %footer