!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Rime Systems
    %script{src: "javascripts/lib.js"}
    %script{src: "javascripts/elise.js"}
    %script{src: "javascripts/routes.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/app.css"}
  %body
    %header
    %main
    %footer